@import "tailwindcss";
@import "tw-animate-css";

  body {
  font-family: var(--font-display);
  background-color: #f6f6f6;
}

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;

  --color-primary-400: #04bf94;
  --color-primary-600: #06d3a4;
  --color-primary-700: #60e7c8;

  --color-secondary: #ed685c;

  --color-grey-900: #242424;
  --color-grey-800: #78787a;
  --color-grey-700: #91a0b6;
  --color-grey-600: #a9b6c8;
  --color-grey-400: #adb8c8;
  --color-grey-300: #c4c4c4;
  --color-grey-200: #d8e1ed;
  --color-grey-100: #e0e5ee;

  --font-family-display: "Poppins", sans-serif;

  --text-2xl: 48px;
  --text-2xl--line-height: 1.5;
  --text-xl: 32px;
  --text-xl--line-height: 1.5;
  --text-lg: 24px;
  --text-lg--line-height: 1.5;
  --text-md: 18px;
  --text-md--line-height: 1.5;
  --text-sm: 16px;
  --text-sm--line-height: 1.5;
  --text-xs: 14px;
  --text-xs--line-height: 1.5;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --shadow-md: 0px 0.4px 6.5px 0px #0000000D, 0px 2px 40px 0px #0000001A;
}
