@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;

  --color-primary-400: #04bf94;
  --color-primary-600: #06d3a4;
  --color-primary-700: #60e7c8;

  --color-secondary: #ed685c;

  --color-black: #f00;

  --color-grey-900: #242424;
  --color-grey-700: #78787a;
  --color-grey-500: #91a0b6;
  --color-grey-400: #adb8c8;
  --color-grey-300: #c4c4c4;
  --color-grey-200: #d8e1ed;
  --color-grey-100: #e0e5ee;

  --font-family-display: "Poppins", sans-serif;

  --text-3xl: 48px;
  --text-3xl--line-height: 1;
  --text-2xl: 32px;
  --text-2xl--line-height: 1;
  --text-xl: 24px;
  --text-xl--line-height: 1;
  --text-lg: 18px;
  --text-lg--line-height: 1;
  --text-base: 16px;
  --text-base--line-height: 1.5;
  --text-sm: 16px;
  --text-sm--line-height: 1;
  --text-xs: 14px;
  --text-xs--line-height: 1.714;
  --text-2xs: 14px;
  --text-2xs--line-height: 1.428;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}
